html, body, div, span, applet, object, iframe{
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div {
    display: inline-block;
}

html, body{ height: 100%; }

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    font-family: "Monserrat-Regular", sans-serif;
    background-color: $bg_color;
    color: #ffffff;
    line-height: 1.5;
    font-size: 14px;

    min-height: 100%;
    display: table;
    height: 100%;
    width: 100%;

    &.no-scroll{
        overflow: hidden;
    }

    &.bg {
        background-position: center center;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

a {
    text-decoration: none;
    color: $link_color;

    &:hover{
        text-decoration: underline;
    }
}

.container{
    position: relative;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    width: 95%;

    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 310px;
}

.center-align{
    display: table-cell;
    vertical-align: middle;
}

.container-inner {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    padding: 35px;
    color: #ffffff;

    webkit-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 1350px) {
        margin-top: 60px;
    }
}

.container-xsmall {
    .container-inner {
        max-width: 465px;
        background: $primary_color;
    }
}

.container-medium {
    .container-inner {
        max-width: 700px;
        background: $primary_color_dark;
    }
}

.container-xslarge {
    .container-inner {
        max-width: 830px;
        background: $primary_color;
    }
}

.container-large {
    .container-inner {
        max-width: 930px;
        background: $primary_color;
    }
}

.container-wrapper {
  width: 70%;
  margin-left: 20%;
  float: right;

  h1 {
    font-family: "NotoSans", sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    text-align: left;
    margin: 0 0 15px 0;
  }
}

body {
    &.bg {
        .container {
            margin-left: 0;

            .container-inner {
                @media only screen and (max-width: 1350px) {
                    margin-top: 60px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1350px) {
    .container {
        margin-left: 0;
    }
}

#ads {
    display: none;
}