/* =============================================================================
    o   PAGINATION
============================================================================= */

.pagination-wrapper {
  display: block;
  float: left;
  margin: 20px 0 0 0;
  padding: 0;

  ul {

    &.pagination {
      display: inline-block;
      position: relative;
      border: 1px solid $primary_color_light;
      background: #7a40a5;
      border-radius: 0;
      margin: 0;
      padding: 0;
      list-style: none;

      &:before {
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #00bff3;
        position: absolute;
        left: -20px;
        top: 7px;

        //font-family: "Material Icons";
        //content: "\E314";
      }

      &:after {
        //font-family: "Material Icons";
        //content: "\E315";
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #00bff3;
        position: absolute;
        right: -20px;
        top: 7px;
      }

      li {
        display: inline-block;
        float: left;
        list-style: none;
        border-right: 1px solid $primary_color_light;

        &:last-child {
          border-right: none;
        }

        &.disabled {
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
        }

        &.active {
          width: 30px;
          height: 30px;
          line-height: 32px;
          text-align: center;

          background: $secondary_color;
          color: $text_color;
        }

        a {
          font-family: "Monserrat-Light", sans-serif;
          display: inline-block;
          font-weight: normal;
          font-size: 15px;

          width: 30px;
          height: 30px;
          line-height: 32px;
          text-align: center;
          color: #ffffff;

          &.active-page {
            background: $secondary_color;
            color: $text_color;
          }

          &:hover {
            background: $secondary_color;
            color: $text_color;
            text-decoration: none;
          }
        }
      }
    }
  }
}






/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 710px) {}