ul.ui_breadcrumbs{
	display: inline-block;
	list-style: none;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;  

	margin-bottom: 25px;

	li{
		display: inline-block;
		margin-right: 5px;
		text-align: left;
		float: left;

		a{
			color: $primary_color;
			float: left;
		}

		&:after{
			font-family: 'Material Icons';
			content: "chevron_right";
			display: inline-block;
			font-weight: normal;
			font-style: normal;
			position: relative;
			margin-left: 5px;
			top: 1.5px;
		}

		&:last-child:after{
			display: none;
		}
	}
}