/* =============================================================================
    o   BLANK
============================================================================= */


.btn-primary {
  font-size: 16px;
  line-height: 20px;
  padding: 17px 50px;
  font-weight: bold;
  display: inline-block;
  border-radius: 0;
  transition: all 0.5s ease;
  background: $secondary_color;
  color: $text_color;
  width: 100%;
  text-align: center;
  border: none;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.btn-secondary {
  font-size: 16px;
  line-height: 20px;
  padding: 15px 50px;
  font-weight: bold;
  display: inline-block;
  border-radius: 0;
  transition: all 0.5s ease;
  border: 2px solid $secondary_color;
  width: 100%;
  color: $secondary_color;
  text-align: center;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.btn {
  margin-bottom: 20px !important;
}
 
/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 400px) {
  .btn-primary {
    padding: 17px 20px;
  }

  .btn-secondary {
    padding: 17px 20px;
  }
}