.bx-controls{
	float: left;
}
 
.bx-wrapper{
	box-shadow: none !important;
	background: none !important;
	margin-bottoM: 0 !important;
	border: none !important;

	.bx-pager{
		bottom: 15px !important;

		.bx-pager-item{
			a{
				background: none !important;
				border: 2px solid $primary_color;

				&.active{
					background: $primary_color !important;
				}
			}
		}
	}
}