/* =============================================================================
    o   DISCLAIMER
============================================================================= */


.cookie_disclaimer{
	@include animate(1s, slideInDown);
    background: #3f0c7e;
    text-align: left;
    position: absolute; 
	display: none;
	max-width: 260px;
    z-index: 2;
    left: 0;
    top: 0;
	padding: 15px 25px;

	@media only screen and (max-width: 820px) {
		padding-bottom: 15px;

		.container{
			text-align: center;
		}
	}

	.container {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
	}

	p{
		font-family: "Monserrat-Light", sans-serif;
		font-size: 12px;
		line-height: 14px;
		text-align: left;
		display: inline-block;
		float: left;
		margin: 0 0 10px 0;
		width: 100%;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		@media only screen and (max-width: 820px) {
			text-align: left;
			width: 100%;
		}

		@media only screen and (max-width: 360px) {
			font-size: 14px;
		}
	}

	a.accept_terms{
		font-size: 16px;
		line-height: 20px;
		padding: 10px 13px;
		font-weight: bold;
		display: inline-block;
		border-radius: 0;
		transition: all 0.5s ease;
		background: $secondary_color;
		color: $text_color;
		text-align: center;
		border: none;
		float: left;

		&:hover {
			text-decoration: none;
			opacity: 0.9;
		}

	}
}