/* =============================================================================
    o   DEFAULT FORM STYLE
============================================================================= */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $primary_color_light;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $primary_color_light;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $primary_color_light;
}
:-moz-placeholder { /* Firefox 18- */
	color: $primary_color_light;
}

form{
	display: inline-block;
	text-align: left;
	width: 100%;

	label:not(.control){
		display: inline-block;
		margin-bottom: 20px;
		position: relative; 
		width: 100%;
		float: left;

		@media only screen and (max-width: 720px) {
			width: 100% !important;
		}

		.form-group{
			margin-bottom: 0;
			width: 100%;
			float: left;
		}

		&.fullwidth{
			width: 100%;
		}

		// Label text
		p{
			display: inline-block;
			font-weight: bold;
			overflow: hidden;
			font-size: 15px;
			height: 30px;
			float: left;
			width: 100%;
			color: #ffffff;
			margin: 0;

			b{
				color: $primary_color;
			}
		}

		// Input
		input, select{
			border: 2px solid $primary_color_light;
			color: $primary_color_light;
			transition: all 0.5s ease;
			display: inline-block;
			background: #7a40a5;
			padding: 12px 20px;
			cursor: pointer;
			font-size: 16px;
			outline: none;
			float: left;
			width: 100%;

			-ms-appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
		}

		textarea{
			font-family: "Monserrat-Regular", sans-serif;
			border: 2px solid $primary_color_light;
			outline-color: $primary_color_light;
			transition: all 0.5s ease;
			display: inline-block;
			background: #7a40a5;
			font-size: 15px;
			outline: none;
			padding: 15px;
			width: 100%;
			min-height: 150px;

			-ms-appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
		}

      &.column {
        width: 46%;
        float: left;

        &:nth-last-of-type(even){
          float: right;
        }
      }

		input, select, textarea{
			&:focus{
				box-shadow: 0 0 0 0.2rem rgba($primary_color, 0.25);
				-moz-box-shadow: 0 0 0 0.2rem rgba($primary_color, 0.25);
				-webkit-box-shadow: 0 0 0 0.2rem rgba($primary_color, 0.25);
			}
		}

		// Error message
		span.error{
			display: none;
		}

		// Email custom icon
		&.email{
			&:before{
				content: "email";
				font-family: 'Material Icons';
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;

				text-align: center;
				line-height: 45px;
				font-size: 20px;
				color: #fff;
			}
		}

		// Password custom icon
		&.password{
			&:before{
				content: "lock";
				font-family: 'Material Icons';
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;

				text-align: center;
				line-height: 45px;
				font-size: 20px;
				color: #fff;
			}
		}

		// Select
		&.select{
			border-color: #000;

			&:after{
				content: "\f078";
				font-family: FontAwesome;
				text-decoration: inherit;
				font-weight: normal;
				font-style: normal;

				display: inline-block;
				pointer-events: none;
				position: absolute;
				text-align: center;
				line-height: 45px;
				background: #000;
				height: 44px;
				width: 45px;
				color: #fff;
				top: 25px;
				right: 0;
			}

			select{
				height: 44px;
			}
		}

		// No errors
		&.no-errors{
			&:before{
				background: #25cc54;
			}

			input, select{
				outline-color: #25cc54;
				border-color: #25cc54;
			}
		}

		// Show error
		&.error{
			&:before{
				background: #fc0c09;
			}

			input, select, textarea{
				outline-color: #fc0c09;
				border-color: #fc0c09;
				outline: none;

				&:focus{
					box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
					-moz-box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
					-webkit-box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
				}
			}

			em.error{
				display: inline-block;
				position: relative;
				line-height: 18px;
				text-align: left;
				margin-top: 10px;
				font-size: 14px;
				color: #fc0c09;

				//&:before{
				//	font-family: 'Material Icons';
				//	text-decoration: inherit;
				//	font-weight: normal;
				//	font-style: normal;
				//	content: "info";
                //
				//	display: inline-block;
				//	position: absolute;
				//	text-align: center;
				//	font-size: 16px;
                //
				//	left: 0px;
				//	top: -1px;
				//}
			}
		}
	}

	// Custom upload input
	.custom-upload{
		display: inline-block;
		position: relative;
		float: left;
		width: 49%;

		@media only screen and (max-width: 720px) {
			width: 100%;
		}

		&.is_hidden{
			display: none;
		}

		label{
			width: 100% !important;
		}

		.custom-upload__input {
			position: absolute;
			overflow: hidden;
			left: -10000px;
			height: 0;
		}

		.custom-upload__button {
			border: 2px solid $primary_color;
			background-color: transparent;
			color: $primary_color;
			text-align: center;
			line-height: 41px;
			margin-top: 24px;
			cursor: pointer;

			@include border-radius(5px);

			i{
				position: absolute;
				right: 15px;
				top: 8px;
			}

			&:hover{
				background: $primary_color;
				color: #fff;
			}
		}

		span.error{
			display: none;
			padding-left: 25px;
			position: relative;
			line-height: 18px;
			text-align: left;
			margin-top: 10px;
			font-size: 14px;
			color: #ff144b;

			&:before{
				font-family: 'Material Icons';
				text-decoration: inherit;
				font-weight: normal;
				font-style: normal;
				content: "info";

				display: inline-block;
				position: absolute;
				text-align: center;
				font-size: 16px;

				left: 0px;
				top: -1px;
			}
		}

		&.has-error{
			.custom-upload__button{
				border-color: #ff144b;
			}

			span.error{
				display: inline-block;
			}
		}
	}


	// Submit button
	button[type="submit"]{
		outline-color: $secondary_color;
		background: $secondary_color;
		transition: all 0.5s ease;
		display: inline-block;
		cursor: pointer;
		border: none;
		width: 100%;
		margin: 0;

		text-align: center;
		margin-top: 10px;
		font-size: 16px;
		color: $text_color;

		&:hover{
			opacity: 0.9;
		}
	}
}

// Checkboxes and radios

.control {
	display: inline-block;
	margin-bottom: 15px;
	padding-left: 30px;
	position: relative;
	cursor: pointer;
	width: 100% !important;
	min-width: 16px;

	h3{
		position: relative;
		margin-bottom: 5px;
		top: -2px;
	}

	input{
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}

.control__indicator {
	background: #e6e6e6;
	position: absolute;
	height: 20px;
	width: 20px;
	top: 2px;
	left: 0;

	&:after {
		content: '';
		position: absolute;
		display: none;
	}
}

.control--radio .control__indicator {
	border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}
.control input:checked ~ .control__indicator {
	border-color: $primary_color !important;
	background: $primary_color !important;
}

.control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}

.control input:checked ~ .control__indicator:after {
	display: block;
}
.control--checkbox .control__indicator:after {
	left: 7px;
	top: 3px;
	width: 6px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
	left: 7px;
	top: 7px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}