.pagination{
	display: inline-block;
	text-align: right;
	margin: 25px 0 0;
	width: 100%;

	@media screen and (max-width: 840px) {
		text-align: center;
	}

	ul{
		@include border-radius(5px);
		border: 1px solid #ccc;
		display: inline-block;
		background: #fff; 
		list-style: none;
		padding: 0;
		margin: 0;

		li{
			border-left: 1px solid #ccc;
			display: inline-block;
			text-align: center;
			line-height: 35px;
			height: 35px;
			width: 35px;
			float: left;

			a{
				// border: 1px solid #ccc;
				display: inline-block;
				color: #000;
				float: left;
				width: 100%;

				&:hover{
					text-decoration: none;
				}
			}

			// Hover
			&:hover{
				background: #f4f4f4;
			}

			// Active item
			&.active, &.active:hover{
				border-bottom: 3px solid darken($primary_color, 5%);
				@include border-radius(5px);
				background: $primary_color;
				border-left: none;

				-ms-transform: scale(1.05); /* IE 9 */
				-webkit-transform: scale(1.05); /* Safari */
				transform: scale(1.05);

				a{
					border-color: $primary_color;
					color: #fff;
				}
			}

			// Next / Prev item
			&:first-child, &:last-child{
				a{
					color: $primary_color;
					margin-top: 6px;
				}
			}

			&:first-child{
				border-left: none;
			}
		}
	}
}