/* =============================================================================
    o   DEFAULT TABLES STYLE
============================================================================= */

.responsive_table{
    width: 100%;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
	margin: 25px 0 0;
	max-width: 100%;
	width: 100%;

	&:not(.nostyle){
		th{
			color: #fff;
			padding: 10px;
			text-align: center;
			line-height: normal; 
			background: #666c70;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #f4f4f4;
		}
	}

	tr{
		margin: 0;
		padding: 0;
		border: none;
		border-bottom: 1px solid #f4f4f4;

		td{
			margin: 0;
			border: none;
			padding: 10px;
			text-align: center;
			line-height: normal;
			border-bottom: 1px solid #f4f4f4;
			border-right: 1px solid #d4d4d4;

			&:last-child{
				border-right: none;
			}
		}

		&:nth-child(even){
			// background: #f4f4f4;
		}
	}
}


@media screen and (max-width: 840px) {
	table {
		border: 0;
	}

	table caption {
		font-size: 16px;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 3px solid #ddd;
		margin-bottom: .625em;
		display: block;

		td {
			border-bottom: 1px solid #ddd;
			display: inline-block;
			text-align: right;
			font-size: 16px;
			width: 100%;

			@media screen and (max-width: 440px) {
				font-size: 13px;
			}

			&:before {
			    /*
			    * aria-label has no advantage, it won't be read inside a table
			    content: attr(aria-label);
			    */
			    content: attr(data-label);
			    text-transform: uppercase;
			    margin-bottom: 10px;
			    font-weight: bold;
			    float: left;
			}
		}
	}

	table td:last-child {
		border-bottom: 0;
	}
}