/* =============================================================================
    o   TYPOGRAPHY
============================================================================= */
 
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin-ext');

h1{
    display: inline-block;
    color: $primary_color;
    line-height: normal;
    font-size: 42px;
    width: 100%; 

    @media only screen and (max-width: 710px) {}
}

h2{
	display: inline-block;
    color: $primary_color;
    line-height: normal; 
    line-height: 22px;
    font-size: 26px;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

h3{
	display: inline-block;
    color: $primary_color;
    line-height: normal;
    font-size: 20px;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {
        line-height: 24px;
    }

    i.material-icons{
        position: relative;
        margin-right: 5px;
        top: 4px;
    }
}

h4{
	display: inline-block;
    color: $primary_color;
    font-size: 18px;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

h5{
	display: inline-block;
    color: $primary_color;
    font-size: .83em;
    margin-top: 0;
    width: 100%;

    @media only screen and (max-width: 710px) {}
}

p{
	display: inline-block;
	font-size: 16px;
    width: 100%;

    @media only screen and (max-width: 460px) {
        // text-align: justify;
    }

	strong, b{
		font-weight: bold;
	}

	i, em{
		font-style: italic;

		&.fa{
			font-weight: normal;
		}
	}

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a {
	transition: all 300ms ease;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }

    &.primary{
        display: inline-block;
        @include border-radius(3px);
        background: #000;
        text-align: center;
    	padding: 15px 35px;
        min-width: 200px;
    	color: #fff;
    	clear: both;
    	float: left;

    	&:hover{
    		text-decoration: none;
    		background: darken(red, 5%);
    		transform: scale(1.05);
    	}

    	@media only screen and (max-width: 360px) {
    		text-align: center;
			padding: 15px 0;
			width: 100%;
    	}
    }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media screen and (max-device-width: 480px){
    body{
        -webkit-text-size-adjust: none;
    }
}