/* =============================================================================
    o   BLANK
============================================================================= */

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/noto-sans/notosans-regular-webfont.eot');
  src: url('../fonts/noto-sans/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/noto-sans/notosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/noto-sans/notosans-regular-webfont.woff') format('woff'),
  url('../fonts/noto-sans/notosans-regular-webfont.ttf') format('truetype'),
  url('../fonts/noto-sans/notosans-regular-webfont.svg#noto_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Monserrat-Regular';
  src: url('../fonts/montserrat-regular/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-regular/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-regular/montserrat-regular-webfont.woff') format('woff'),
  url('../fonts/montserrat-regular/montserrat-regular-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-regular/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserrat-Light';
  src: url('../fonts/montserrat-light/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat-light/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-light/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-light/montserrat-light-webfont.woff') format('woff'),
  url('../fonts/montserrat-light/montserrat-light-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-light/montserrat-light-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}