/* =============================================================================
    o    CASTIGA TABLETA
============================================================================= */

.samsung-page {

  h1 {
    font-family: "NotoSans", sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: $secondary_color;
    width: 100%;
    font-weight: bold;
    text-align: left;
    margin: 0;
  }

  p {
    font-family: "Monserrat-Light", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;
    margin: 15px 0 20px 0;
    width: 100%;
    float: left;
    
    span {
      display: block;
      text-align: left;
    }
  }

  form {
    width: calc(100% + 20px);
    max-width: 540px;
    float: left;
    margin-left: -20px;

    label {
      width: calc(33.3% - 20px);
      margin-left: 20px;
      float: left;
      margin-bottom: 30px;
      text-align: left;
      position: relative;

      &:nth-of-type(3n+1) {
        clear: both;
      }

      &:nth-of-type(9) {
        clear: left;
      }

      &:nth-of-type(10) {
        clear: none;
      }
      
      &:nth-of-type(11) {
        width: calc(66.6% - 20px);
        clear: both;
      }

      &.custom-select {
        &:after {
          font-family: "Material Icons";
          color: #ffffff;
          position: absolute;
          content: "\E313";
          line-height: 24px;
          font-size: 24px;
          right: 10px;
          z-index: 2;
          top: 42px;
          pointer-events: none;
          display: inline-block;
        }
      }

      select {
        border: 2px solid $primary_color_light;
        color: #c9b3e3;
        transition: all 0.5s ease;
        display: inline-block;
        background: #7a40a5;
        padding: 12px 20px;
        cursor: pointer;
        font-size: 16px;
        outline: none;
        float: left;
        width: 100%;

        -ms-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
      }

      &.checkbox {
        margin-bottom: 15px;

        &.terms-cond {
          clear: both;
          width: 100%;

          em {
            display: block;
            width: 100%;
            float: left;
          }
        }

        span {
          input {
            margin-right: 10px;
          }
        }

        a {
          text-decoration: underline;
          color: $secondary_color;
          top: 0;
          float: none;
        }
      }

    }

    .abonare {
      margin-bottom: 10px;
      margin-top: 5px;
      width: 100%;
      display: inline-block;
      float: left;

      label {
        margin-bottom: 0;

        &.checkbox {
          width: auto;
          display: inline-block;
        }
      }

      em {
        &.error {
          display: inline-block;
          position: relative;
          line-height: 18px;
          text-align: left;
          margin-top: 10px;
          font-size: 14px;
          color: #fc0c09;
          float: left;
          width: 100%;
          margin-left: 20px;
        }
      }
    }

    button {
      width: 66.6%;
      margin-left: 20px;
    }

    p {
      width: 66.6%;
      margin: 0 0 0 20px;

      &.disclaimer {
        font-family: "Monserrat-Light", sans-serif;
        font-size: 12px;
        line-height: 14px;
        margin-top: 30px;
        width: 100%;
      }
    }
  }

  img {
    position: absolute;
    bottom: 110px;
    right: 30px;
  }
}



/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 820px) {
  .samsung-page {
    p {
      width: calc(100% - 100px);

      span {
        display: inline;
      }
    }

    img {
      bottom: auto;
      top: 35px;
      right: 20px;
      max-width: 100px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .samsung-page {
    form {
      width: 100%;
      margin-left: 0;

      label {
        margin-left: 0;
      }

      p {
        margin-left: 0;
        width: 100%;
      }

     button {
       margin-left: 0;
     }
    }
  }
}

@media only screen and (max-width: 560px) {
  .samsung-page {
    img {
      display: none;
    }

    p {
      width: 100%;
    }
  }
}