/* =============================================================================
    o   CASTIGATORI
============================================================================= */

.winners-page {

  h1 {
    font-family: "NotoSans", sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: $secondary_color;
    width: 100%;
    font-weight: bold;
    text-align: left;
    margin: 0 0 20px 0;
  }

  form {
    &.form-cauta {
      position: relative;
      display: inline-block;
      margin-bottom: 30px;

      h2 {
        font-family: "NotoSans", sans-serif;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        font-weight: bold;
        text-align: left;
        margin: 0 0 10px 0;
      }

      input {
        border: 2px solid #FFFFFF;
        background: $primary_color_light;
        width: 100%;
        padding: 15px 30px 16px 30px;
      }

      button {
        position: absolute;
        right: 2px;
        top: 20px;
        width: 50px;
        height: 50px;

        i {
          font-size: 26px;
        }
      }
    }
  }

  .lista-castigatori {
    ul {
      list-style: none;
      display: inline-block;
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      background: #7a40a5;


      li {
        font-family: "Monserrat-Light", sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        width: 100%;
        float: left;
        display: inline-block;
        text-align: left;
        color: #ffffff;
        background: #7a40a5;

        h6 {
          font-family: "Monserrat-Light", sans-serif;
          color: #ffffff;
          font-weight: normal;
          width: 35%;
          float: left;
          display: inline-block;
          margin: 0;
          font-size: 15px;
          line-height: 19px;
          padding: 20px 15px 0 45px;
        }

        p {
          font-family: "Monserrat-Light", sans-serif;
          color: #ffffff;
          font-weight: normal;
          width: 40%;
          float: left;
          display: inline-block;
          margin: 0;
          font-size: 15px;
          line-height: 19px;
          padding: 20px 15px 0 45px;
        }

        h5 {
          font-family: "Monserrat-Light", sans-serif;
          font-weight: normal;
          width: 25%;
          float: left;
          display: inline-block;
          margin: 0;
          color: #ffffff;
          font-size: 15px;
          line-height: 19px;
          padding: 20px 15px 0 45px;
        }

        &:last-child {

          h6 {
            padding: 20px 15px 30px 45px;
          }

          p {
            padding: 20px 15px 30px 45px;
          }
        }
      }

      &.title-lista-castigatori {
        background: $secondary_color;

        li {
          background: $secondary_color;
          color: $text_color;


          h6 {
            font-family: "NotoSans", sans-serif;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: $text_color;
            padding: 15px 15px 10px 45px;
            border-right: 1px solid $text_color;
          }

          h5 {
            font-family: "NotoSans", sans-serif;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: $text_color;
            padding: 15px 15px 10px 45px;
          }

          p {
            font-family: "NotoSans", sans-serif;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: $text_color;
            padding: 15px 15px 10px 45px;
            border-left: 1px solid $text_color;
          }
        }
      }
    }
  }
}



/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 710px) {

  .winners-page {
    .lista-castigatori {
      ul {
        padding: 20px 0px;

        li {
          margin-bottom: 10px;

          h6, p, h5 {
            width: 100%;
            border: none;
            padding: 5px 30px;
          }

          &:last-child {
            margin-bottom: 0;

            h6, p, h5 {
              width: 100%;
              border: none;
              padding: 5px 30px;
            }
          }
        }

        &.title-lista-castigatori {
          padding: 10px 0px;

          li {
            margin-bottom: 0;

            h6, p, h5 {
              width: 100%;
              border: none;
              padding: 10px 30px;
            }
          }
        }
      }
    }
  }
}