/* =============================================================================
    o   CONTACT
============================================================================= */

form {
  &.contact-form {
    text-align: left;

    h1 {
      text-align: left;
    }

    p {
      margin: 0;
      color: #ffffff;
      font-size: 15px;
    }

    label {
      margin-top: 20px;
    }

    .btn-primary {
      width: 50%;
    }
  }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 500px) {
  form {
    &.contact-form {
      .btn-primary {
        width: 100%;
      }
    }
  }
}