/* =============================================================================
    o   CONTENT
============================================================================= */


.content{
    display: table-row;
    text-align: justify;
    vertical-align: middle;
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 710px) {}