/* =============================================================================
    o   COUNTER
============================================================================= */

.counter-page {
  background-position: center center;
  background-color: $bg_color;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
}

.card-wrapper {
  border: 1px solid $secondary_color;
  padding: 35px;
  position: relative;
  display: inline-block;

  .card-container {
    border: 1px solid $secondary_color;
    padding: 35px;
    position: relative;
    display: inline-block;

    .card {
      background: $primary_color;
      padding: 80px 0px;
      position: relative;
      max-width: 465px;
      color: $text_color;

      h1 {
        font-size: 36px;
        line-height: 40px;
        color: $secondary_color;
        margin: 10px 0 20px 0;
        font-weight: normal;
      }

      h2 {
        font-family: "NotoSans", sans-serif;
        font-size: 36px;
        line-height: 40px;
        color: $secondary_color;
        font-weight: bold;
        margin: 0 0 60px 0;
        display: inline-block;
        position: relative;
        width: auto;
        z-index: 1;
      }

      .title-wrapper {
        position: relative;
        width: 100%;
        text-align: center;

        .title-container {
          position: relative;
          width: 100%;
          text-align: center;

          &:before {
            content: "";
            position: absolute;
            display: block;
            width: 35%;
            background-color: #8c575d;
            top: 44%;
            left: 5%;
            height: 1px;
            z-index: 0;
          }

          &:after {
            content: "";
            position: absolute;
            display: block;
            width: 35%;
            background-color: #8c575d;
            top: 44%;
            right: 3%;
            height: 1px;
            z-index: 0;
          }
        }

        h2 {
          background: $primary_color;
          padding: 0px 50px;
          margin: 0 0 10px 0;
        }

        &:before {
          content: "";
          position: absolute;
          display: block;
          width: 35%;
          background-color: #8c575d;
          top: 50%;
          left: 4%;
          height: 1px;
          z-index: 0;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 35%;
          background-color: #8c575d;
          top: 50%;
          right: 4%;
          height: 1px;
          z-index: 0;
        }
      }


      img {
        display: block;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -135px;
        z-index: 2;
        position: absolute;
      }

      .card2 {
        background-color: $secondary_color;
        background-size: cover;
        text-align: center;
        height: 100%;
        -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
        display: inline-block;
        padding: 0px 55px;
        position: relative;
        min-width: 625px;
        margin-bottom: 15px;
        margin-left: -80px;

        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;

        ul {
          &.countdown-labels {
            text-align: center;
            width: 100%;
            z-index: 2;
            font-size: 26px;
            text-transform: lowercase;
            margin: 0;
            padding-bottom: 40px;
            padding-left: 0;

            li {
              display: inline-block;
              width: 33%;
              float: left;
            }
          }
        }
      }
    }
  }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 660px) {
  .card-wrapper {
    border: none;
    padding: 0;

    .card-container {
      border: none;
      padding: 0;

      .card {
        max-width: 100%;

        .card2 {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          min-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .card-wrapper {
    .card-container {
      .card {
        .card2 {
          padding: 0px 10px;

          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
        }
      }
    }
  }
}