/* =============================================================================
    o   CUM PARTICIP
============================================================================= */

.cum-particip {

  .container-inner {
    background: #33105e;
    padding: 35px 65px;

    ul {
      list-style: none;
      display: inline-block;
      width: 100%;

      li {
        list-style: none;
        display: inline-block;
        width: 100%;

        img {
          margin-top: 45px;
          margin-bottom: 40px;
        }

        h4 {
          color: $secondary_color;
          text-align: left;
          margin: 15px 0 0px 0;
        }
      }
    }

    p {
      margin: 10px 0;
      text-align: left;
      color: #FFFFFF;
    }
  }

  h3 {
    margin-top: 0px;
    text-align: left;
  }
}



/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 600px) {
  .cum-particip  {
    .container-inner {
      padding: 25px 35px;
    }
  }
}