/* =============================================================================
    o   FOOTER
============================================================================= */

.footer {
    text-align: left;
    display: table-row;
    background: $primary_color;
    height: 170px;
    padding: 15px 30px;
    color: #ffffff;

    .container {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 310px;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        text-align: left;
        margin: 10px 0;
        display: none;

        i{
            font-size: 25px;
            float: left;
        }

        span{
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 5px;
            float: left;
        }
    }

    ul {
        &.menu-footer {
            text-align: left;
            margin-left: -40px;
            display: inline-block;
            margin-bottom: 10px;

            float: left;
            text-transform: uppercase;
            width: calc(100% + 40px);

            li {
                display: inline-block;
                list-style: none;
                padding-right: 35px;
                font-size: 12px;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;

                    &:hover {
                        color: $secondary_color;
                    }
                }

                &:last-child {
                    float:right;
                    padding: 0;
                    font-weight: bold;
                }
            }
        }
    }

    .details{
        display: inline-block;

        p {
            text-align: left;
            padding: 8px 0px;
            margin: 0;
            font-size: 10px;
        }
    }

}


.cookie-notification {
    display: none;
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */

@media only screen and (max-width: 1350px) {
    .footer {
        .container {
            margin-left: 0;
        }
    }
}


@media only screen and (max-width: 960px) {
    .footer {

        .menu-icon {
            display: inline-block;
            float: left;
        }

        ul {
            &.menu-footer {
                display: none;

                li {
                    display: block;
                    padding: 10px 0;

                    &:last-child {
                        float: left;
                    }
                }
            }
        }
    }
}
