/* =============================================================================
    o   HEADER
============================================================================= */

//.header{
//    display: table-row;
//    background: #f4f4f4;
//    height: 50px;
//}

.header {
    font-family: "Monserrat-Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.5px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    float: left;
    height: 100%;
    display: inline-block;
    background: $menu-color;
    width: 310px;


    ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: left;

        position: fixed;
        left: 0;
        top: 0;

        i {
            &.close-menu {
                display: none;
            }
        }


        li {
            list-style: none;
            padding: 20px;
            background: $menu-color;
            width: 310px;
            border-bottom: 1px solid #4a1d64;

            &:nth-of-type(1) {
                text-align: center;
            }

            h1 {
                font-family: "NotoSans", sans-serif;
                font-size: 26px;
                line-height: 30px;
                margin: 0;
                padding: 0;
                font-weight: normal;
                color: $secondary_color;
                text-transform: capitalize;
                margin-top: 10px;
            }

            i {
                margin-right: 20px;
                display: inline-block;
                font-size: 22px;
                width: 25px;
                text-align: center;
                color: $primary_color_light;
                vertical-align: top;

                &.fa-mobile {
                    font-size: 30px;
                }
            }

            em {
                vertical-align: top;
                background: $secondary_color;
                color: $text_color;
                font-size: 14px;
                line-height: 18px;
                font-weight: bold;
                padding: 3px 10px;
                font-style: normal;
                position: relative;
                top: 3px;

                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }

            a {
                display: inline-block;
                width: 60%;
                color: $primary_color_light;
                font-size: 16px;
                line-height: 20px;

                &:hover {
                    text-decoration: none;
                    color: $secondary_color;
                }
            }

            &:not(:last-child) {
                text-transform: uppercase;
            }

            &:last-child {
                border-bottom: none;
            }

            &.active {
                background: $secondary_color;
                position: relative;
                width: 330px;

                -webkit-border-top-right-radius: 25px;
                -moz-border-top-right-radius: 25px;
                border-top-right-radius: 25px;

                -webkit-border-bottom-right-radius: 25px;
                -moz-border-bottom-right-radius: 25px;
                border-top-bottom-radius: 25px;

                a {
                    color: #220b33;
                  font-weight: bold;
                }

                i {
                    color: #c29721;
                }

                em {
                    border: 2px solid #c29721;
                }
            }

            &.logout {
                background: #2f095e;
                margin-top: 50px;

                a {
                    color: #ffffff;
                    width: auto;
                }

                i {
                    color: #ffffff;
                }

                span {
                    color: $primary_color_light;
                    display: block;
                    text-align: left;
                }
            }
        }
    }

    #menu-trigger {
        display: block;
        float: right;
        font-size: 24px;
        padding: 25px 15px;
        display: none;

        span {
            width: 25px;
            background: #ffffff;
            display: block;
            float: right;
            position: relative;
            height: 3px;
            margin: 2px 0;
            left: 0;
            clear: both;
            border-radius: 2px;
        }
    }
}

/* =============================================================================
    o   RESPONSIVE
============================================================================= */

@media only screen and (max-width: 1350px) {
    .header {
        height: auto;
        width: 100%;
        display: inline-block;
        z-index: 100;
        bottom: auto;

        #menu-trigger {
            display: block;
        }

        ul {
            background: $menu-color;
            display: none;
            //position: absolute;
            position: fixed;
            z-index: 5;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            text-align: left;
            overflow-y: auto;

            i {
                &.close-menu {
                    position: absolute;
                    right: 17px;
                    top: 30px;
                    font-size: 24px;
                    display: block;
                }
            }


            li {
                width: 100%;

                &.active {
                    width: 100%;

                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                }

                em {
                    float: right;
                    top: 0px;
                }
            }

        }
    }
}

@media only screen and (max-width: 710px) {
}