/* =============================================================================
    o   INTRO PAGE
============================================================================= */

.container-border1 {
  border: 1px solid $secondary_color;
  padding: 30px;
  position: relative;
  display: inline-block;
}

.container-border2 {
  border: 1px solid $secondary_color;
  padding: 45px 35px;
  position: relative;
  display: inline-block;

  img {
    display: block;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -100px;
    z-index: 2;
    position: absolute;
  }
}

.container-inner {

  h3 {
    font-size: 26px;
    line-height: 30px;
    color: $secondary_color;
    margin: 40px 0 0 0;
    display: inline-block;
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 20px 0 40px 0;
    display: inline-block;
  }

  p {
    font-size: 15px;
    line-height: 19px;
    color: $primary_color_light;
    margin: 40px 0 0 0;
  }
}

.intro-page {
  .btn-primary {
    width: auto;
  }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 680px) {
  .container-border1 {
    border: none;
    padding: 0;
  }

  .container-border2 {
    border: none;
    padding: 0;

    img {
      display: none;
    }
  }
}