/* =============================================================================
    o   INTRODU COD
============================================================================= */
form {
  &.introdu-cod {
    position: relative;

    label:not(.control) {
      max-width: 560px;
      width: 100%;

      input {
        border: 2px solid #ffffff;
        background: #9375b7;
        padding: 16px 20px;
      }
    }

    button {
      width: auto;
      position: absolute;
      top: 0;
      margin-left: -5px;
    }
  }
}


/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 710px) {}