/* =============================================================================
    o   PREMII
============================================================================= */

.container-large {
  &.prizes-page {
    .container-inner {
      background: none;
      padding: 0;

      webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      h1 {
        font-family: "NotoSans", sans-serif;
        font-size: 30px;
        color: #ffffff;
        text-align: left;
        margin: 0 0 20px 0;
      }

      h3 {
        float: left;
        display: inline-block;
        width: auto;
        margin: 25px 0 15px 0;
        text-align: left;
      }

      h4 {
        font-family: "Monserrat-Light", sans-serif;
        font-size: 26px;
        line-height: 30px;
        color: $secondary_color;
        font-weight: 300;
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid #704746;
        margin: 20px 0 0 0;
        text-align: left;
      }

      p {
        font-family: "Monserrat-Light", sans-serif;
        font-weight: 300;
        margin: 10px 0 0 0;
        color: #ffffff;
        text-align: left;
      }

      .premii-box-small {
        width: 49%;
        display: inline-block;
        float: left;
        text-align: left;
        padding: 15px 20px 20px 35px;
        margin-bottom: 30px;
        min-height: 480px;
        position: relative;
        background-color: #440e87;

        webkit-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);

        .premii-box-small-top {
          min-height: 280px;
          width: 100%;
          display: inline-block;
        }

        .premii-info {
          width: 50%;
          float: left;
          display: inline-block;
          text-align: left;
        }

        &.box1 {
          .premii-info {
            width: 60%;
          }

          img {
            max-width: 40%;
          }
        }

        &.box2 {
          .premii-info {
            width: 60%;
          }

          img {
            max-width: 40%;
          }
        }

        &.box3 {
          background: #370b6e;

          .premii-box-small-top {
            min-height: 320px;
          }

          .premii-info {
            width: 100%;
          }

          img {
            max-width: 50%;
          }
        }

        &.box4 {
          background: #370b6e;

          .premii-box-small-top {
            min-height: 320px;
          }

          img {
            max-width: 50%;
            position: relative;
            margin-top: -40px;
          }
        }


        &.box2 {
          float: right;
          display: inline-block;
        }

        &.box4 {
          float: right;
          display: inline-block;
        }

        span {
          font-family: "NotoSans", sans-serif;
          font-size: 46px;
          line-height: 50px;
          float: left;
          display: inline-block;
          color: $text_color;
          background: $secondary_color;
          text-transform: uppercase;
          clear: both;
          padding: 15px 15px 5px 15px;
          min-width: 150px;
          text-align: center;
          position: relative;
          top: 80px;

          border-radius: 50px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;

          b {
            font-weight: bold;
            display: inline-block;
          }
        }

        img {
          float: right;
        }
      }

      .premii-box-big {
        width: 100%;
        display: inline-block;
        background: #440e87;
        position: relative;
        float: left;
        text-align: left;
        margin-bottom: 30px;
        padding: 35px 20px 20px 35px;

        webkit-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);

        &.box1 {
          background: #2a0854;
          text-align: center;
          display: block;

          span {
            position: absolute;
            margin-top: 130px;
            left: 15px;
          }

          .box1-img {
            border: 4px solid $secondary_color;
            padding: 25px 15px;
            width: 90%;

            img {
              width: 100%;
              display: block;
              margin: 0 auto;
              border: 1px solid $secondary_color;
              padding: 15px 3px;
            }
          }

        }

        &.box2 {
          background: #440e87;
        }


        span {
          font-family: "NotoSans", sans-serif;
          font-size: 46px;
          line-height: 50px;
          float: left;
          display: inline-block;
          color: $text_color;
          background: $secondary_color;
          text-transform: uppercase;
          clear: both;
          padding: 15px 15px 5px 15px;
          min-width: 150px;
          text-align: center;
          position: relative;
          z-index: 2;

          border-radius: 50px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;

          b {
            font-weight: bold;
            display: inline-block;
          }
        }


        h3 {
          width: 100%;
          margin: 0 0 20px 0;
        }

        ul {
          display: inline-block;
          float: left;
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            width: 48%;
            float: left;
            position: relative;
            display: inline-block;

            .premii-box-small-top {
              width: 100%;
              display: inline-block;
              min-height: 260px;
            }

            .premii-info {
              width: 100%;
              display: inline-block;
              float: left;
              position: relative;
              min-height: 240px;

              img {
                float: right;
              }
            }

            &:nth-of-type(even) {
              float: right;
            }

            &:nth-of-type(1) {
              span {
                margin-top: 60px;
              }
            }

            &:nth-of-type(2) {

              span {
                margin-top: 60px;
                position: absolute;
              }
            }

            &:nth-of-type(3) {
              .premii-box-small-top {
                min-height: 300px;
              }

              img {
                width: 60%;
                margin-top: 15px;
              }

              span {
                margin-top: 100px;
              }
            }

            &:nth-of-type(4) {
              .premii-box-small-top {
                min-height: 300px;
              }

              img {
                margin-top: 70px;
                width: 60%;
              }

              span {
                margin-top: 100px;
              }
            }
          }
        }
      }
    }
  }
}



/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 710px) {}