/* =============================================================================
    o   REGISTER
============================================================================= */

form {
  &.register-form {
    width: calc(100% + 20px);
    margin-left: -20px;
    text-align: center;
    padding: 0px 60px;

    &>label {
      width: calc(25% - 20px);
      margin-left: 20px;
      float: left;
      margin-bottom: 30px;
      text-align: left;

      &:nth-of-type(5n+5) {
        clear: both;
      }
    }

    p {
      font-size: 15px;
      color: #ffffff;
      margin: 0 0 20px 0;
      width: 90%;
    }

    .evita-spam {
      width: 100%;
      display: inline-block;
      text-align: left;
      margin-left: 20px;
      margin-bottom: 10px;

      p {
        margin: 10px 0 20px 0;
        width: 100%;
        font-size: 15px;
        font-weight: normal;
        display: inline-block;
      }

      label {
        width: auto;
        float: none;
        vertical-align: top;
        margin-right: 15px;

        input {
          visibility: hidden;
          display: none;

          &:checked + span {
            border: 1px solid $secondary_color;
            background: #7a40a5;
          }

          &:checked + span svg {
            fill: $secondary_color;
          }
        }

        span {
          display: inline-block;
          width: 50px;
          height: 50px;
          border: 1px solid $primary_color_light;
          background: #7a40a5;
          border-radius: 50%;
          vertical-align: middle;
          text-align: center;
          line-height: 46px;
          cursor: pointer;

          &:hover {
            border: 1px solid $secondary_color;
          }

          svg {
            max-width: 40px;
            max-height: 40px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            fill: #ffffff;
          }
        }
      }

      em {
        &.error {
          display: block;
          position: relative;
          line-height: 18px;
          text-align: left;
          font-size: 14px;
          color: #fc0c09;
          width: 100%;
        }
      }
    }

    .checkbox {
      margin-left: 16px;
      width: 100%;
      display: inline-block;

      p {
        vertical-align: top;
        position: relative;
        margin: 0;
        float: left;
        text-align: left;
        width: 80%;
        top: 4px;
      }

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      span {
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-block;
        float: left;
        margin-right: 15px;

        input {
          display: inline-block;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid $primary_color_light;
          cursor: pointer;
          outline: none;
          background: #7a40a5;

          &:checked {
            &:before {
              content: " ";
              position: absolute;
              width: 13px;
              height: 8px;
              top: 7px;
              left: 7px;
              background: transparent;
              border: 3px solid $secondary_color;
              border-top: none;
              border-right: none;
              transform: rotate(-45deg);
              transition: opacity .3s;
            }
          }
        }
      }

      &.error {
        em {
          display: block;
          position: relative;
          line-height: 18px;
          text-align: left;
          font-size: 14px;
          color: #fc0c09;
          width: 100%;
          float: left;
          margin-top: 15px;
        }
      }
    }

    .btns {
      width: 98%;
      float: left;
      margin: 15px 0 0 20px;

      .btn-primary {
        width: 48.5%;
        float: left;
        margin: 0;
      }

      .btn-secondary {
        width: 48.5%;
        float: right;
      }
    }
  }
}

.campuri-obligatorii {
  width: 90%;
  display: inline-block;
  text-align: left;
  float: left;
  padding-left: 60px;

  p {
    margin-top: 20px;
    font-size: 12px;
    color: #ffffff;
  }
}



/* =============================================================================
    o   RESPONSIVE
============================================================================= */

@media only screen and (max-width: 1000px) {
  form {
    &.register-form {
      padding: 0;
    }
  }

  .campuri-obligatorii {
    padding-left: 0;
  }
}


@media only screen and (max-width: 900px) {
  form {
    &.register-form {
      &> label {
        width: calc(50% - 20px);

        &:nth-of-type(5n+5) {
          clear: none;
        }

        &:nth-of-type(2n+1) {
          clear: both;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  form {
    &.register-form {
      width: 100%;
      margin-left: 0;

      &>label {
        margin-left: 0;
      }

      .checkbox {
        margin-left: 0;
      }

      .evita-spam {
        margin-left: 0;

        label:not(.control) {
          width: auto !important;
        }
      }

      .btns {
        margin-left: 0;
        width: 100%;

        .btn-primary {
          width: 100%;
          margin-bottom: 20px;
        }

        .btn-secondary {
          width: 100%;
        }
      }
    }
  }

  .campuri-obligatorii {
    width: 100%;
  }
}