/* =============================================================================
    o   RESET PASSWORD
============================================================================= */

.container-inner {

  form {
    h1 {
      font-family: "NotoSans", sans-serif;
      font-weight: bold;
      font-size: 26px;
      line-height: 30px;
      color: $secondary_color;
      margin: 0 0 20px 0;
      display: inline-block;
      text-align: center;
    }

    p {
      font-size: 15px;
      line-height: 19px;
    }

    &.login-form {
      .btn-primary {
        margin-bottom: 15px;
      }
    }

    label {
      &.checkbox {
        span {
          float: left;

          input {
            position: relative;
            width: 20px;
            height: 20px;
            display: inline-block;
            float: left;
            padding: 0;
            margin-right: 10px;

            &:checked:before {
              content: " ";
              position: absolute;
              width: 13px;
              height: 8px;
              top: 2px;
              left: 1px;
              background: 0 0;
              border: 3px solid $secondary_color;
              border-top: none;
              border-right: none;
              transform: rotate(-45deg);
              transition: opacity .3s;
            }
          }
        }

        p {
          float: left;
          display: inline-block;
          width: auto;
          margin: 0;
          font-weight: normal;
          position: relative;
          top: 5px;
          font-size: 15px;
        }

        a {
          color: #ffffff;
          font-size: 15px;
          float: right;
          position: relative;
          top: 4px;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}



/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 500px) {
  .container-inner {
    form {
      label {
        &.checkbox {
          span {
            input {
              margin-right: 15px;
            }
          }

          p {
            width: calc(100% - 50px);
            overflow: visible;
            margin-bottom: 20px;
          }

          a {
            width: 100%;
            float: left;
          }
        }
      }
    }
  }
}