/* =============================================================================
    o   BLANK
============================================================================= */

.succes_page {
  h1 {
    font-family: "NotoSans", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #25cc54;
    margin: 0 0 20px 0;
    display: inline-block;
    text-align: center;
  }

  p {
    color: #ffffff;
    margin: 20px 0 25px 0;
  }
}


.error_page {
  h1 {
    font-family: "NotoSans", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #fc0c09;
    margin: 0 0 20px 0;
    display: inline-block;
    text-align: center;
  }

  p {
    color: #ffffff;
    margin: 20px 0 25px 0;
  }
}




/* =============================================================================
    o   RESPONSIVE
============================================================================= */


@media only screen and (max-width: 710px) {}