/* =============================================================================
    o   VARIABLES
============================================================================= */

$bg_color: #5a3489;
$menu-color: #360b6b;

$text_color: #321832;

$link_color: #fbd35a;

$primary_color: #3f0c7e;
$primary_color_light: #c9b3e3;
$primary_color_dark: #341160;
$secondary_color: #fbd35a;