<div class="pp-body" id="test">
	<div class="pp-wrapper">
		<div class="center-align">
			<div class="pp-content small">
				<div class="close-pp"><i class="fa fa-times" aria-hidden="true"></i></div>

				<div class="pp-details">
					<i class="fa fa-check success" aria-hidden="true"></i>
					<h1>Succes!</h1>
					<p>Felicitari, te-ai inscris cu succes.</p>
				</div>

				<a href="#" class="close-pp primary_button">OK</a>
			</div>
		</div>
	</div>
</div>