<div class="pp-body" id="tandc">
    <div class="pp-wrapper">
        <div class="center-align">
            <div class="pp-content">
                <div class="close-pp">
                    <i class="material-icons">clear</i>
                </div>
                <h5><b>*</b> Parcurge documentul pentru a fi de acord cu Termenii și Condițiile.</h5>

                <div class="terms">
                    <h4>NOTIFICARE DE PROTECȚIE A DATELOR CONSUMATORILOR </h4>

                    <p>Tratăm protecția datelor cu seriozitate. Această notificare se referă la modul în care tratăm
                        informațiile personale.</p>
                    <p>Prezentăm mai jos titlurile secțiunilor acestei notificări. Pentru a citi întregul paragraf,
                        dați clic pe link sau derulați în jos. Această configurare vă permite să navigați mai ușor
                        în document; de asemenea, dacă sunteți în căutare de informații specifice, puteți ajunge
                        direct la paragraful relevant.</p>
                    <p>Citiți, de asemenea, termenii de utilizare referitori la serviciul de care sunteți interesat.
                        Aceștia oferă mai multe informații despre modul în care ne desfășurăm activitatea, precum și
                        orice restricții privind eligibilitatea, care se pot aplica.</p>

                    <ol>
                        <li>Cine sunt afiliații PMI?</li>
                        <li>De ce văd această notificare?</li>
                        <li>Cum trebuie citită această notificare?</li>
                        <li>Ce informații sunt colectate?</li>
                        <li>Cum folosim informațiile?</li>
                        <li>Cum sunt partajate informațiile de afiliații PMI?</li>
                        <li>Afiliații PMI folosesc module cookie și tehnologii similare de urmărire?
                        </li>
                        <li>Cum mă dezabonez de la mesajele de marketing?</li>
                        <li>Care sunt măsurile de securitate în vigoare pentru protecția informațiilor?
                        </li>
                        <li>Unde ar putea fi trimise informațiile despre mine?</li>
                        <li>Cât timp vor fi păstrate informațiile despre mine?</li>
                        <li>Ce drepturi am în legătură cu informațiile despre mine?</li>
                        <li>Specificități sub legislația din România</li>
                    </ol>

                    <b>1. Cine sunt afiliații PMI?</b>
                    <p>Fiecare membru al grupului de companii Philip Morris International este un „afiliat PMI”.
                        „Noi” (sau „al nostru”) se referă la Philip Morris Trading S.R.L, având sediul social în
                        Otopeni, Str. Horia, Cloşca şi Crişan, Nr. 83-105, clădirea A, Judeţul Ilfov, România, și
                        punct de lucru în Bucureşti, Strada Nicolae Filipescu nr. 28, Sector 2, înmatriculată la
                        Registrul Comerţului sub numărul J23/511/2004, având Cod Unic de Identificare/Cod de
                        Înregistrare Fiscală RO 4888165, înregistrată la ANSPDCP ca operator de date cu caracter
                        personal sub numărul 3971/2007, având caliatea de operator al datelor personale care fac
                        obiectul acestei Notificări.</p>
                    <p>Prin „site web PMI” (sau similar, de exemplu, un produs de PMI sau un centru asistență
                        telefonică PMI) se înțelege un site web (sau un produs sau centru de asistență telefonică
                        etc.), al afiliatului nostru sau al altui afiliat PMI. În funcție de scopurile pentru care
                        au fost colectate informații despre dvs., informațiile despre dvs. pot fi partajate cu și
                        accesate de alți afiliați PMI, dacă este cazul să-și îndeplinească aceste scopuri.</p>
                    <p>Fiecare afiliat PMI care utilizează informații despre dvs. le va folosi numai în scopurile
                        care v-au fost specificate, le va folosi în nume propriu (și nu în numele altora), și va fi
                        responsabil în mod individual și independent pentru protejarea informațiilor pe care le
                        folosește și pentru a vă ajuta să vă exercitați drepturile dvs. descrise în prezenta
                        notificare.</p>
                    <p>Detaliile afiliaților PMI și țările în care își au sediul sunt disponibile pe paginile
                        țărilor relevante de la <a href="https://www.pmi.com/" target="_blank">www.pmi.com</a>.</p>

                    <b>2. De ce văd această notificare?</b>
                    <p>Ați fost îndrumat spre această notificare, deoarece folosim informații despre dvs. Aceasta
                        deoarece:</p>
                    <ul>
                        <li>sunteți un consumator adult al produselor PMI;</li>
                        <li>ați utilizat un site web sau aplicația mobilă a PMI;</li>
                        <li>ați vizitat un magazin care vinde produse PMI;</li>
                        <li>ați comunicat cu noi în ceea ce privește produsele sau serviciile PMI (de exemplu,
                            printr-un centru de asistență telefonică);
                        </li>
                        <li>am colectat informațiile în alte contexte care v-au fost prezentate la momentul
                            respectiv.
                        </li>
                    </ul>
                    <p>Această notificare vă oferă detalii importante despre modul în care utilizăm și partajăm
                        informațiile despre dvs. și drepturile dvs. în legătură cu acest lucru.</p>

                    <b>3. Cum trebuie citită această notificare?</b>
                    <p>Această notificare vă oferă informații generale despre modul în care folosim informațiile cu
                        caracter personal despre dvs. Cu toate acestea, nu putem anticipa cu exactitate modul în
                        care informațiile pot fi utilizate în viitor, astfel încât să putem furniza informații
                        suplimentare atunci când vom interacționa cu dvs., de exemplu, în notificările prevăzute în
                        aplicațiile noastre mobile sau materialele noastre de marketing.</p>

                    <b>4. Ce informații sunt colectate?</b>
                    <p>Informațiile despre dvs. pe care le folosim pot include:</p>

                    <ul>
                        <li>
                            <b>Informațiile pe care le puneți la dispoziție</b>
                            <p>Puteți alege să ne furnizați informații într-o varietate de contexte - de exemplu,
                                atunci când: achiziționați produse sau servicii PMI dintr-un magazin; contactați un
                                centru de asistență telefonică al PMI; descărcați și utilizați o aplicație mobilă
                                PMI; înregistrați un dispozitiv și vă abonați la o bază de date/portaluri de liste
                                PMI; vă înregistrați pentru a primi comunicate de presă PMI, alerte prin e-mail sau
                                alte comunicări de marketing; participați la concursuri, promoții sau chestionare
                                PMI; sau ne contactați prin intermediul unuia dintre site-urile noastre, prin
                                aplicații mobile sau prin e-mail, prin rețele de socializare sau prin telefon.</p>

                            <p>În aceste cazuri, informațiile pe care le colectăm și utilizăm vor fi vizibile, în
                                mod normal, din contextul în care furnizați informațiile. De exemplu, în cazul în
                                care comandați un produs de la noi printr-un canal online, va trebui să furnizați
                                numele, datele de contact și de facturare pentru ca noi să vă onorăm comanda.</p>
                        </li>
                        <li>
                            <b>Informații colectate automat</b>
                            <p>Atunci când navigați și accesați site-uri web și aplicații mobile PMI, putem colecta
                                și utiliza anumite informații despre dispozitivul dvs. și utilizarea acestor
                                site-uri web și aplicații. Informațiile colectate pot include detalii ale adresei
                                dvs. IP sau identificatorul unic al dispozitivului, detalii cu privire la orice
                                module cookie pe care le-am stocat pe dispozitivul dvs., precum și detalii ale
                                paginilor accesate, termenii de căutare introduși sau link-urile pe care faceți clic
                                în cadrul site-ului web sau al aplicației.</p>
                        </li>
                        <li>
                            <b>Informații pe care le obținem de la terți</b>
                            <p>Din când în când, și numai în cazul în care este permis de lege, putem obține
                                informații despre dvs. de la terți. Acestea pot include informații partajate între
                                afiliații PMI, informații de profil disponibile în mod public pe site-urile de
                                social media terțe (cum ar fi Facebook și Twitter), precum și listele de marketing
                                achiziționate de la agențiile de marketing terțe.</p>
                        </li>
                    </ul>

                    <b>5. Cum folosim informațiile?</b>
                    <p>Putem folosi și partaja informațiile personale despre dvs. pentru o varietate de motive, care
                        vă vor fi specificate în mod normal în momentul colectării acestor informații. Vom colecta
                        și folosi informațiile despre dvs. numai în conformitate cu legile în vigoare privind
                        protecția datelor.</p>

                    <span>Utilizări generale ale informațiilor despre dvs.</span>
                    <p>În general, putem utiliza informații despre dvs. în următoarele scopuri:</p>
                    <ul>
                        <li><p>(a) informațiile pe care le furnizați sunt utilizate în mod obișnuit pentru
                                verificarea vârstei și a statutului de fumător; tratarea întrebărilor și
                                solicitărilor dvs.; utilizarea de către dvs. a site-urilor web și aplicațiilor
                                mobile PMI; administrarea comenzilor și a conturilor; procesarea plăților;
                                corespondența, inclusiv comunicările de marketing pe care vi le trimitem, în
                                conformitate cu preferințele de comunicare; scopuri administrative și de depanare;
                                îmbunătățirea produselor PMI și a informațiilor pe care noi (sau afiliații noștri)
                                le oferim clienților noștri; invitațiile pe care vi le trimitem pentru a participa
                                la sondaje sau campanii de cercetare de piață; informațiile pe care vi le oferim
                                despre și în scopul gestionării afiliaților PMI, promoțiile, produsele și serviciile
                                acestora, evenimentele și reglementarea produselor din tutun;</p></li>
                        <li><p>(b) informațiile care sunt colectate automat sunt utilizate în mod obișnuit pentru
                                statistici comerciale; pentru a vă trimite comunicări personalizate care v-ar putea
                                interesa; și pentru a ne ajuta pe noi și pe afiliații noștri să îmbunătățim
                                produsele și serviciile pe care le oferim;</p></li>
                        <li><p>(c) informațiile pe care afiliații PMI le obțin de la terți pot (în cazul în care
                                este permis prin lege) fi combinate cu alte informații despre dvs., pentru a
                                actualiza sau a completa înregistrările afiliaților PMI, pentru a afla mai multe
                                despre preferințele dvs. și pentru a vă oferi informații despre produsele sau
                                serviciile PMI care sunt mai bine adaptate nevoilor dvs.</p></li>
                    </ul>

                    <span>Utilizări specifice ale informațiilor despre dumneavoastră</span>
                    <p>Vă rugăm să consultați secțiunea 14 din acest document pentru detalii specifice cu privire la
                        scopurile colectării și procesării de către Philip Morris Trading S.R.L. („Operator”) și/sau
                        de către partenerii și împuterniciții săi a datelor dvs. precum și cu privire la elementele
                        obligatorii a vă fi aduse la cunoștință în mod formal conform legilor din România.</p>

                    <b>6. Cum sunt partajate informațiile de afiliații PMI?</b>
                    <p>Pe lângă partajarea informațiilor despre dvs. între afiliații PMI pentru motivele explicate
                        mai sus, putem partaja, de asemenea, informații cu caracter personal despre dvs. cu:</p>

                    <ul>
                        <li><p>(a) terți care furnizează produse sau servicii afiliaților PMI sau dvs. (cum ar fi
                                consilierii, furnizorii de servicii de plată, furnizorii de servicii de curierat,
                                furnizorii de servicii de informare și furnizorii de verificare a vârstei);</p></li>
                        <li><p>(b) agențiile de publicitate și partenerii de afaceri terți selectați cu atenție de
                                afiliații PMI, astfel încât să vă poată contacta cu produsele, serviciile și
                                promoțiile care consideră aceștia că v-ar putea interesa, în conformitate cu
                                preferințele dvs. de marketing;</p></li>
                        <li><p>(c) alți terți, dacă este obligatoriu sau permis de lege, de exemplu: autoritățile de
                                reglementare; departamentele guvernamentale; ca răspuns la o solicitare din partea
                                autorităților de aplicare a legii sau a altor oficiali guvernamentali; când
                                considerăm că dezvăluirea este necesară sau adecvată pentru a preveni pagubele
                                materiale sau pierderile financiare sau în legătură cu o investigație a activității
                                ilegale suspectate sau reale; și în contextul restructurării organizaționale.</p>
                        </li>
                    </ul>

                    <b>7. Afiliații PMI folosesc module cookie și tehnologii similare de urmărire?</b>
                    <p>Modulele cookie sau tehnologiile similare pot fi utilizate pe site-ul web și aplicațiile
                        mobile ale PMI pentru a colecta anumite informații în mod automat. Modulele cookie și
                        tehnologiile specifice utilizate vor depinde de site-ul web sau aplicația în cauză. Din
                        acest motiv, pentru a afla mai multe despre modulele cookie (inclusiv modulele cookie ale
                        statisticilor Google) și tehnologiile similare utilizate pe un site web sau într-o
                        aplicație, inclusiv modul în care puteți accepta sau refuza module cookie, consultați
                        notificarea referitoare la module cookie pentru site-ul web sau aplicația respectivă.</p>

                    <p>De exemplu, pentru a afla mai multe despre modulele cookie sau tehnologiile similare
                        utilizate pe site-ul web <a href="https://www.pmi.com/" target="_blank">pmi.com</a>, accesați notificarea
                        referitoare la module cookie de pe <a href="https://www.pmi.com/" target="_blank">pmi.com</a>, către care
                        este disponibil un link în subsolul fiecărei pagini a site-ului web. Notificarea referitoare
                        la module cookie de pe site-ul <a href="https://www.pmi.com/" target="_blank">pmi.com</a> este, de asemenea,
                        disponibilă <a href="https://www.pmi.com/legal/cookie-notice" target="_blank">aici</a>.</p>

                    <b>8. Cum mă dezabonez de la mesajele de marketing?</b>
                    <p>Toți afiliații PMI oferă o modalitate ușoară de a renunța la primirea comunicărilor de
                        marketing, cum ar fi un link de „dezabonare” sau adresa de contact furnizată în mesajul pe
                        care l-ați primit.</p>
                    <p>Anumite aplicații pentru mobil oferite de afiliații PMI ar putea să vă trimită, de asemenea,
                        mesaje push, de exemplu, cu privire la noi produse sau servicii. Puteți dezactiva aceste
                        mesaje prin setările de pe telefon sau din aplicație.</p>

                    <b>9. Care sunt măsurile de securitate în vigoare pentru protecția informațiilor?</b>
                    <p>La fel ca alți afiliați PMI, noi punem în aplicare măsuri tehnice și organizatorice adecvate
                        pentru a proteja informațiile personale pe care le deținem împotriva divulgării, utilizării,
                        modificării sau distrugerii neautorizate. Dacă este cazul, folosim criptarea și alte
                        tehnologii care pot ajuta la securizarea informațiilor pe care le furnizați. De asemenea,
                        avem nevoie ca furnizorii noștri de servicii să respecte cerințele stricte privind protecția
                        datelor.</p>

                    <b>10. Unde ar putea fi trimise informațiile despre mine?</b>
                    <p>Precum în cazul oricărei organizații multinaționale, afiliații PMI transferă informații cu
                        caracter personal la nivel global. În consecință, informațiile personale despre dvs. pot fi
                        transferate, fie în interiorul, fie în afara țării sau teritoriului de unde au fost
                        colectate, inclusiv într-o țară, un teritoriu sau o organizație internațională care ar putea
                        să nu aibă standarde echivalente de protecție a datelor. De exemplu, afiliații PMI din
                        cadrul Spațiului Economic European, Croația și Elveția („Europa”) pot transfera informații
                        cu caracter personal către afiliații PMI din afara Europei în scopurile descrise în prezenta
                        notificare. În toate cazurile, transferul va fi pe baza unei decizii privind caracterul
                        adecvat a Comisiei Europene sau afiliații PMI vor pune în aplicare măsuri adecvate (inclusiv
                        măsuri de securitate adecvate) pentru protecția informațiilor cu caracter personal în aceste
                        țări, teritorii sau organizații internaționale, în conformitate cu legile aplicabile pentru
                        protecția datelor.</p>

                    <b>11. Cât timp vor fi păstrate informațiile despre mine?</b>
                    <p>Perioada pentru care putem păstra informații personale despre dvs. va depinde de scopurile
                        pentru care au fost colectate informațiile, dacă ați solicitat ștergerea informațiilor și
                        dacă orice obligații legale impun păstrarea informațiilor, (de exemplu, în scopuri fiscale
                        și contabile). În general, nu vom păstra informații personale despre dvs. mai mult decât
                        este necesar pentru a îndeplini scopurile pentru care au fost colectate informațiile.</p>

                    <b>12. Ce drepturi am în legătură cu informațiile despre mine?</b>
                    <p>Este posibil să aveți unele sau toate drepturile următoare în ceea ce privește informațiile
                        personale pe care le deținem despre dvs.:</p>
                    <ul>
                        <li><p>(a) să ne solicitați accesul la informații;</p></li>
                        <li><p>(b) să ne solicitați să le corectăm sau să le actualizăm;</p></li>
                        <li><p>(c) să ne solicitați să le ștergem.</p></li>
                    </ul>

                    <p>În plus, vă puteți dezabona de la orice comunicări de marketing pe care vi le trimitem urmând
                        instrucțiunile furnizate mai sus, sub titlul „Cum mă dezabonez de la mesajele de
                        marketing?"</p>

                    <b>13. Specificități sub legislația din România. Contact.</b>
                    <p>Tuturor persoanelor care fac parte din baza de date a Philip Morris Trading S.R.L.
                        („Operator”) le sunt garantate drepturile cu privire la protecţia datelor cu caracter
                        personal în conformitate cu Legea nr. 677/2001 privind protecţia persoanelor cu privire la
                        prelucrarea datelor cu caracter personal şi libera circulaţie a acestor date, în special
                        drepturile persoanei vizate cu privire la informare, la accesul la date, dreptul de
                        intervenţie, de opoziţie, de a se adresa instanţei competente şi de plângere către
                        autoritatea de supraveghere.</p>

                    <p>În înţelesul Legii nr. 677/2001, principalele drepturi mai sus menţionate, aparţinând
                        persoanelor vizate, au următorul conţinut:</p>

                    <ul>
                        <li><p>Dreptul de acces la date: Orice persoană vizată are dreptul de a obţine de la
                                Operator, la cerere şi în mod gratuit pentru o solicitare pe an, confirmarea
                                faptului că datele care o privesc sunt sau nu sunt prelucrate de către acesta.
                                Astfel, la cererea scrisă, semnată şi datată a persoanei respective, adresată la CP
                                84 OP 83, Bucureşti, o dată pe an, în mod gratuit, Operatorul va confirma dacă
                                utilizează date care o privesc sau va înceta orice prelucrare a acestora.</p></li>
                        <li><p>Dreptul de intervenţie asupra datelor: Orice persoană vizată are dreptul de a obţine
                                de la Operator, la cerere şi în mod gratuit: (i) după caz, rectificarea,
                                actualizarea, blocarea sau ştergerea datelor a căror prelucrare nu este conformă
                                legii, în special a datelor incomplete sau inexacte; (ii) după caz, transformarea în
                                date anonime a datelor a căror prelucrare nu este conformă legii; (iii) realizarea
                                notificării către terţele persoane cărora le-au fost dezvăluite datele, a oricărei
                                operaţiuni efectuate conform pct. (i) sau (ii), dacă această notificare nu se
                                dovedeşte imposibilă sau nu presupune un efort disproporţional faţă de interesul
                                legitim care ar putea fi lezat. Astfel, Philip Morris va rectifica, actualiza,
                                bloca, şterge sau transforma în date anonime toate acele date a căror folosire nu
                                este conformă dispoziţiilor Legii nr. 677/2001.</p></li>
                        <li><p>Dreptul de opoziţie: Persoană vizată are dreptul de a se opune în orice moment, în
                                mod gratuit şi fără nicio justificare, ca datele care o vizează să fie prelucrate în
                                scop de marketing direct, în numele operatorului sau al unui terţ sau să fie
                                dezvăluite unor terţi într-un asemenea scop (reprezentând alin.2 al art.15 din legea
                                677/2001).</p></li>
                    </ul>

                    <p>Scopurile constituirii bazei de date sunt: activități de marketing (incluzând dar
                        nelimitându-se la înmânarea premiilor/produselor câştigătorilor/consumatorilor,
                        înregistrarea câştigătorilor activităților promoţionale/ consumatorilor ce au beneficiat de
                        bunuri, realizarea de rapoarte statistice cu privire la consumatori, informarea
                        consumatorilor prin diverse mijloace de comunicare cum ar fi poştă, e-mail, SMS sau alte
                        mijloace de comunicare permise prin lege, cu privire la activități de marketing ale
                        Operatorului), activități de cercetare de piață derulate de către Philip Morris Trading
                        S.R.L. și/sau oricare parteneri ai săi care au ca obiect de activitate cercetarea de piață
                        și care vor avea acces la datele mele cu caracter personal în calitate de împuterniciți ai
                        Philip Morris Trading S.R.L., respectând condițiile de siguranță a prelucrării datelor
                        comunicate de către Philip Morris Trading S.R.L. se obligă ca datele personale să nu fie
                        difuzate către terţi cu excepţia împuterniciţilor săi.</p>

                    <p>Operatorul va respecta dispoziţiile art.12 din Legea nr 506/2004 privind prelucrarea datelor
                        cu caracter personal şi protecţia vieţii private în sectorul comunicaţiilor electronice,
                        referitor la transmiterea de informaţii prin e-mail şi alte mijloace electronice.</p>

                    <p style="font-weight: bold;">Completând formularul de înregistrare și acceptând această
                        Notificare, declar că am peste 18 ani, sunt fumător și sunt de acord cu prelucrarea datelor
                        mele cu caracter personal, inclusiv serie și număr BI/CI, de către Operator în conformitate
                        cu prevederile legale în vigoare, precum și cu privire la difuzarea acestor date către
                        afiliații (conform secțiunii 1 din această Notificare) și împuterniciții săi care includ
                        (dar nu se limitează la) Open Public Service S.R.L., Telcor Communications S.R.L.,
                        Grapefruit S.R.L., Partnership S.R.L, Mediapost Hit Mail SA, Ypiresia 800 – Teleperformance
                        A.E., blue-infinity S.A., MIB Group BTL S.R.L., Momentum.EMC S.R.L., Ipsos Research SRL,
                        Field Star S.R.L., 360 Insights SRL, GFK Romania – Institut de Cercetare de Piata SRL.
                        Împuterniciții Operatorului vor prelucra datele doar în limitele celor indicate de Operator,
                        fara a fi considerati operatori, și nu le vor disemina ulterior fără acceptul și fără
                        asigurarea condițiilor de protecție trasate de Philip Morris Trading S.R.L.</p>

                    <p style="text-decoration: underline; font-weight: bold;">La cererea mea scrisă, semnată și
                        datată, adresată la C.P. 84 - O.P. 83, București, Operatorul va confirma, în mod gratuit o
                        dată pe an, dacă utilizează datele furnizate de mine sau va înceta orice prelucrare a
                        acestora. Operatorul va rectifica, actualiza, bloca, șterge sau transforma în date anonime
                        pe toate acelea a căror folosire nu este conformă dispozițiilor Legii nr. 677/2001, în care
                        tuturor participanților la activități le sunt respectate drepturile (dreptul de acces la
                        date, dreptul de intervenție asupra datelor, dreptul de opoziție), privind protecția
                        persoanelor împotriva prelucrării datelor personale și libera lor circulație.</p>
                </div>

                <button class="button agree" disabled>Sunt de acord</button>

                <span class="go_bottom"><i class="fa fa-chevron-down"></i></span>
            </div>
        </div>
    </div>
</div>